/* Snap */


/* Auto layout of the whole webpage body*/
body{ 
    display: flex;
    flex-direction: column;
    padding: 22px 39px 113px 42px;
    position: relative;
    background: #FFFFFF;

}

.innerBodySize{
    margin-top: 60px;
    position: relative;
}
/* Responsive Navbar */
.navbar{
    background-color: #FFFFFF;
}

.nav-logo{
    width: 84px;
    height: 27px;
    margin-right: 2rem;

}

.dropdown-menu{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    
}

.nav-link{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #686868;
    
}


.iconsNav{
    margin-right: 14px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.01em;
    
}

.iconsNav2{
    margin-right: 14px;
    
}
.iconsNav2Text{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.01em;
    position: relative;
}

li{
    list-style: none;
}

.nav-link:hover{
    color: black;
    font-weight: 700;
}

.primary-click{
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 13px;
    width: 106px;
    height: 40px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #686868;
    padding-top: 5px;
}
.primary-click:hover{
    border: 2px solid black;
    color: black;
    font-weight: 700;
}

.sec-click{
    color: #686868;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    padding-top: 5px;
    border: none;
    background-color: transparent;
}

.sec-click:hover{
   
    color: black;
    font-weight: 700;
}

.rightNav{
    gap: 36px;
    
}


.smallerScreenNav{
    left: 25px;
    top: 83px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #767676;

   }

.closebtn{
    position: absolute;
    left: 390px;
}

.smallLoginMenu{
    position: relative;
    width: 37px;
    height: 13px;
    left: 101px;
    top: 20px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.03em;

    color: #686868;
}

.smallFreeMenu{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 13px 23px;
    gap: 10px;
    color: rgba(118, 118, 118, 1);
    position: relative;
    width: 90%;
    height: 40px;
    left: 0px;
    top: 30px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    
    color: #767676;
    background: #FFFFFF;
    border: 1px solid #767676;
    border-radius: 13px;
}
.smallFreeMenu:hover{
    color: black;
    font-weight: 700;
    border: 2px solid black;
}

/*Side curtain menu, W3school resources helped = https://www.w3schools.com/howto/howto_js_curtain_menu.asp */
.myNav3{
    text-decoration: none;
    color: black;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;/* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
        position: relative;
        top: 10%;
        margin-top: 30px;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: black;
    font-weight: bold;  
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 60px;
  }
  
  .menuSmList2{
    align-items: flex-start;
    padding: 0px 0px 0px 25px;
    gap: 27px;

    width: 100px;
  }
/* Hero Heading & Para */
.heroHeader{
    letter-spacing: -0.02em;
    margin-top: 100px;
    margin-bottom: 54px;
}

.heroPara{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.005em;
    font-style: normal;
    font-family: "epilogue";
    color: #686868;

}

/* Learn More Button */
.learnButton{
    width: 163px;
    height: 56px;
    background: #151515;
    border-radius: 14px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 700px;
    margin-top: 54px;
}

.learnButton:hover{
    border: 1px solid black;
    color: black;
    background-color: #FFFFFF;
}

div .innerBodySize{
    margin-top: 60px;
    position: relative;
}


@media(max-width:1429.98px){
    .heroPara{
        font-size: 15px;
    }

}

@media(min-width:1210px){
    .picSnapMobile{
        display: none;
    }
    .heroHeader2{
        display: none;
    }

    .listPic{
        display: none;
    }
}

@media(max-width:1209.98px){

   body{
    padding: 22px 39px 113px 39px;
    position: relative;


   }

   .smallerScreenNav{
    left: 25px;
    top: 83px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;

    color: #767676;

   }

   div .innerBodySize{
    position: relative;
    margin-top: 0px;
   }

    .picSnapDesktop{
        display: none;
    }
    .picSnapMobile{
        position: relative;
        left: 0%;
        right: 0%;
        top: 10%;
        display: block;
        background: url(image-hero-mobile.png);
        order: 0;
    }
    .wordArea{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 49px;
        text-align: center;
        height: 282px;
        position: relative;
        flex: none;
        flex-grow: 0;
    }

    .heroHeader{
        display: none;
    }

    .heroHeader2{
height: 37px;
top: 120px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 800;
font-size: 7vw;
/* identical to box height */

letter-spacing: -0.005em;
position: relative;
color: #161616;
text-align: center;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
       
    }

    .paraSmPart{
        top: 222px;
        position: relative;
    }

    .heroPara{
        font-size: 3vw;
       line-height: 38px;

    }

    .learnButton{
        position: relative;
        top: 225px;
    }

    .list img{
        display: none;
    }

    .listPic{
        position: relative;
        align-items: center;
        display: block;
        top: 222px;
    }
}

@media(min-width:991.98px){
    .myNav3{
        display: none;
    }
}

@media(min-width:590px){
    .paraSmPart2{
        display: none;
    }
}

@media(max-width:589.98px){
    body{
        padding: 0px 0px 0px 0px;
    }

    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

    .paraSmPart{
        display: none;
    }

    .heroHeader2{
        font-size: 9vw;
    }

    .paraSmPart2{
        display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 5px;

width: 336px;
height: 69px;


/* Inside auto layout */

flex: none;
flex-grow: 0;
    }

    .heroPara2{
        font-size: 5vw;
        top: 172px;
        position: relative;
    }

    .learnButton{
        top: 280px;
        position: relative;
    }

    .listPic{
        padding-bottom: 30px;
    }
}